#cajasoltar{
    float: left;
    width: 500px;
    height: 300px;
    margin: 10px;
    border: 1px solid #99999999;
}

#cajaimagenes{
    float: left;
    width: 320px;
    height: 300px;
    margin: 10px;
    border: 1px solid #99999999; 
}

#cajaimagenes > img{
    float: left;
    padding: 5px;
}
