body{
    background-color: #eee;
}

p{
    color: #222fff; /* Color del texto */
    text-align: justify; /* Alinea el texto */
    text-indent: 15px; /* Desplaza la primera linea hacia la derecha */
    line-height: 1.7; /* Manipula el espacio de las lineas del texto*/ /* altura */ 
    word-spacing: 10px; /* Genera un espacio entre palabras */
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5); /* aplica un efecto de sombra */
}

a{
    text-decoration: none; /* Agrega decoracion al texto */
    text-transform: capitalize; /* Transforma el texto */ 
    letter-spacing: 3px; /* genera una separacion entre las letras */
    
}